<form id="formMagasin" [formGroup]="formMagasin">

    <div class="form-group">
        <label>
            Nom :
            <input 
                type="text" 
                formControlName="nom" 
                [formControl]="informationsControl">
        </label>
    </div>

    <div class="form-group">
        <label>
            Prénom :
            <input 
                type="text" 
                formControlName="prenom" 
                [formControl]="informationsControl">
        </label>
    </div>

    <div class="form-group">

        <span>Statut :</span>
        <br>
        <label>
            Présent
            <input 
                type="radio"
                formControlName="statut"
                value="Présent"
                [formControl]="informationsControl">
        </label>
        <br>
        <label>
            Absent
            <input 
                type="radio"
                formControlName="statut"
                value="Absent"
                [formControl]="informationsControl">
        </label>
        <br>
        <label>
            Peut-être
            <input 
                type="radio"
                formControlName="statut"
                value="Peut-être"
                [formControl]="informationsControl">
        </label>
    </div>

    <div class="form-group">

        <span>Sexe :</span>
        <br>
        <label>
            M
            <input 
                type="radio"
                formControlName="sexe"
                value="Masculin"
                [formControl]="informationsControl">
        </label>
        <br>
        <label>
            F
            <input 
                type="radio"
                formControlName="sexe"
                value="Féminin"
                [formControl]="informationsControl">
        </label>
    </div>

    <div class="form-group">
        <button type="submit" *ngIf="isSubmitDisplayed"  (click)="sendInformations()">Save</button>

    </div>
<form>
