<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1>Magasin</h1>
</div>

<div class="content" role="main">

  <div class="card-container">

    <div class="card">
      <span>Bienvenue au magasin</span>

    </div>

    <div class="card">
      <div>
        <div class="data-row" *ngFor="let element of message | keyvalue">
          <p><strong>{{element.key}}</strong> : {{element.value}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="card-container">
    
    <!-- Form -->
    <div class="card">
      <form-component></form-component>
    </div>

  </div>

</div>